.advantages {
  background-color: #ffffff;
  background-image: linear-gradient(-5deg, $secongaryBgr 80%, transparent 20%);

  .advantages__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .advantages__lead-text {
    width: 280px;
    padding: 0 38px;
    color: $darkTextBgr;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 588px;
      font-size: 40px;
      line-height: auto;
    }

    @media (min-width: $desktop-width) {
      width: 780px;
      font-size: 50px;
      line-height: auto;
    }
  }

  .advantages__list {
    width: 280px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 310px;
      order: 3;
    }
  }

  .advantages__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .advantages__item-description {
    color: $darkTextBgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
