.advantages {
  background-color: #FFFFFF;
  background-image: linear-gradient(-5deg, $secongaryBackground 80%, transparent 20%);
}

.advantages__lead-text {
  color: $secondaryTextBgr;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.advantages__item-description {
  color: $secondaryTextBgr;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
