.advantages {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  background-image: linear-gradient(-5deg, $secongaryBgr 80%, transparent 20%);

  .advantages__phone-one,
  .advantages__phone-two {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  .advantages__phone-three {
    @media (min-width: $tablet-width) {
      width: 268px;
      height: 547px;
    }

    @media (min-width: $desktop-width) {
      width: 157px;
      height: 320px;
    }
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }

  .advantages__lead-text {
    width: 100%;
    padding: 0;
    margin-top: 46px;
    margin-bottom: 123px;
    box-sizing: border-box;
    color: $darkTextBgr;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding: 0 16px;
      margin-top: 58px;
      margin-bottom: 47px;
      font-size: 40px;
      line-height: 54px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding: 0 80px;
      margin-top: 79px;
      margin-bottom: 72px;
      font-size: 50px;
      line-height: 68px;
    }
  }

  .advantages__demo-phones {
    @media (min-width: $tablet-width) {
      width: 50%;
      height: 100%;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      padding: 0 54px;
      z-index: 1;
    }
  }

  .advantages__list {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 50%;
      padding-bottom: 49px;
      order: 1;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0 30px;
      bottom: 80px;
      z-index: 2;
      background-color: $secongaryBgr;
    }
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      align-items: flex-start;
    }

    @media (min-width: $desktop-width) {
      &--left {
        align-items: flex-start;
      }

      &--center {
        align-items: center;
      }

      &--right {
        align-items: flex-end;
      }
    }
  }

  .advantages__item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      width: 240px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  .advantages__item-description {
    color: $darkTextBgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      width: 100%;
      text-align: left;
    }

    @media (min-width: $desktop-width) {
      width: 252px;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }
}
