.catalog-intro {
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-top: 170px;
  }

  .catalog-intro__heading {
    width: 228px;
    margin: 28px auto 76px;
    color: $light-text;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 358px;
      padding-top: 65px;
      padding-bottom: 130px;
      margin: 0 auto;
      font-size: 50px;
      line-height: 68px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
    }
  }
}
