.contacts__lead-text {
  color: $darkTextBgr;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}

.contacts__list {
  list-style: none;
}

.contacts__item {
  color: $accentText;
  font-size: 24px;
  font-weight: 300;
  line-height: auto;

  a {
    color: $accentText;
    text-decoration: none;
  }
}

.contacts__item-title {
  color: $darkTextBgr;
  font-size: 18px;
  font-weight: 700;
  line-height: auto;
}
