.contest-form {
  fieldset,
  input,
  textarea {
    border: 2px solid $border;
  }

  input,
  textarea {
    padding: 23px 20px;

    &::placeholder {
      color: $darkTextBgr;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .submit__button {
    padding: 23px 45px;
    color: $lightText;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background-color: $submitBtn;
    border: none;
  }

  .submit__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  .submit__ast {
    color: $accentText;
  }
}

.contest-form_personal-container {
  fieldset {
    border: 0;
  }
}

.contest-form__personal-info,
.contest-form__contact-info {
  label {
    color: $accentText;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}

.contest-form__achievements {
  label {
    color: $darkTextBgr;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .achievements-list {
    list-style: none;
  }
}

.contest-form__achievements,
.contest-form__os,
.contest-form__emotions {
  legend {
    color: $accentText;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}
