.contest-form {
  .contest-form__fieldset,
  .contest-form__input,
  .contest-form__textarea {
    border: 2px solid $border;
  }

  .contest-form__input,
  .contest-form__textarea {
    padding: 23px 20px;

    &::placeholder {
      color: $dark-text-bgr;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .contest-form__fieldset {
    &_no-border {
      border: none;
    }
  }

  .contest-form__submit-btn {
    padding: 23px 45px;
    color: $light-text;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background-color: $submit-btn;
    border: none;
  }

  .contest-form__submit-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  .context-form__submit-ast {
    color: $accent-text;
  }

  .contest-form__personal-info,
  .contest-form__contact-info {
    .contest-form__label {
      &_accent {
        color: $accent-text;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }

  .contest-form__achievements {
    .contest-form__label {
      &_no-accent {
        color: $dark-text-bgr;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }

  .contest-form__achievements-list {
    list-style: none;
  }


  .contest-form__achievements,
  .contest-form__os,
  .contest-form__emotions {
    legend {
      color: $accent-text;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
