.contacts {
  display: flex;
  flex-direction: column;

  .contacts__lead-text {
    width: 222px;
    color: $darkTextBgr;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 370px;
    }

    @media (min-width: $desktop-width) {
      width: 462px;
    }
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
  }

  .contacts__item {
    color: $accentText;
    font-size: 24px;
    font-weight: 300;
    line-height: auto;

    a {
      color: $accentText;
      text-decoration: none;
    }
  }

  .contacts__item-title {
    color: $darkTextBgr;
    font-size: 18px;
    font-weight: 700;
    line-height: auto;
  }
}
