.contest {
  .contest__lead-text {
    width: 280px;
    padding: 44px 20px 34px 20px;
    margin: 0 auto;
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 100px 20px 75px 20px;
    }

    &--additional {
      display: none;

      @media (min-width: $tablet-width) {
        display: inline;
      }
    }

    @media (min-width: $tablet-width) {
      width: 490px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 756px;
      padding: 100px 0 68px 0;
      margin: 0 auto;
    }
  }
}
