.contacts {
  display: flex;
  flex-direction: column;

  .contacts__text-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      width: 940px;
      margin: 0 auto;
    }
  }

  .contacts__lead-text {
    width: 222px;
    align-self: center;
    margin: 40px 0 34px 0;
    color: $dark-text-bgr;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 370px;
      font-size: 40px;
      line-height: 54px;
    }

    @media (min-width: $desktop-width) {
      width: 462px;
      font-size: 50px;
      line-height: 68px;
    }
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;
      justify-content: space-around;
    }
  }

  .contacts__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $accent-text;
    font-size: 24px;
    font-weight: 300;
    line-height: 25px;

    @media (min-width: $tablet-width) {
      width: 50%;
    }

    &--mail {
      @media (min-width: $desktop-width) {
        order: 2;
      }
    }
  }

  .contacts__link {
    color: $accent-text;
    text-decoration: none;
  }

  .contacts__item-title {
    color: $dark-text-bgr;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;

    @media (min-width: $desktop-width) {
      padding-bottom: 18px;
    }
  }

  .contacts__item-text {
    margin: 0;

    &--phone {
      margin-bottom: 26px;
    }

    &--mail {
      margin-bottom: 28px;
    }

    &--address {
      width: 211px;
      margin-bottom: 30px;
      line-height: 33px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 10px;
      margin-bottom: 42px;

      &--address {
        margin-top: 4px;
        margin-bottom: 36px;
      }
    }
  }

  .contacts__map {
    align-self: center;
    width: 100%;
    overflow: hidden;
    border: none;

    @media (min-width: $tablet-width) {
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      height: 502px;
    }
  }
}
