.effect {
  position: relative;
  width: 100%;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 54px 20px 0 20px;
    box-sizing: border-box;
    bottom: 66px;
    z-index: 2;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 80px 0;
    box-sizing: border-box;
    background-color: $secongaryBgr;
    background-image: none;
  }

  .effect__wrapper {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 67%;
    }
  }

  .effect__title {
    width: 50%;
    color: $secondaryHeading;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media (min-width: $desktop-width) {
      width: 298px;
      line-height: 30px;
    }
  }

  .effect__text {
    width: 100%;
    color: $darkTextBgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      width: 534px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .effect__link {
    color: $accentText;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
