.effect {
  width: 100%;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    background-color: $secongaryBgr;
    background-image: none;
  }

  .effect__wrapper {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 67%;
    }
  }

  .effect__title {
    width: 168px;
    color: $secondaryHeading;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media (min-width: $desktop-width) {
      width: 298px;
      line-height: 30px;
    }
  }

  .effect__text {
    width: 310px;
    color: $darkTextBgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      width: 534px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .effect__link {
    color: $accentText;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
