.effect {
  position: relative;
  width: 100%;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $secondary-bgr;
  }

  .effect__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      padding: 54px 20px 0 20px;
      margin-bottom: 57px;
      box-sizing: border-box;
      bottom: 66px;
      z-index: 2;
      background-color: #ffffff;
    }

    @media (min-width: $desktop-width) {
      width: 940px;
      padding: 47px 0 67px;
      margin: 0 auto;
      box-sizing: border-box;
      background-color: $secondary-bgr;
      background-image: none;
    }
  }

  .effect__content-wrapper {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 67%;
    }
  }

  .effect__title {
    width: 168px;
    color: $secondary-heading;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;

    @media (min-width: $desktop-width) {
      width: 298px;
      line-height: 30px;
    }
  }

  .effect__text {
    width: 100%;
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      width: 534px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .effect__link {
    color: $accent-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
