.gallery-post {

  background-color: $secondary-bgr;

  .gallery-post__username {
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .gallery-post__time {
    color: $dark-text-bgr;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }

  .gallery-post__content {
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .gallery-post__like-text {
    color: $accent-text;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}
