.intro {
  display: flex;
  flex-direction: column;
  background-color: $darkTextBgr;
  background-image: url("../img/index/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    background-image: url("../img/back_tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background: none;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }

  .intro__demo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro__title {
    width: 240px;
    padding: 0 20px;
    margin: 0;
    color: $lightText;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 186px;
      padding: 0 57px;
      font-size: 40px;
      line-height: 48px;
    }

    @media (min-width: $desktop-width) {
      width: 232px;
      padding: 0 34px;
      font-size: 50px;
      line-height: 68px;
    }
  }

  .intro__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 28px 0 38px 0;
    background-color: $darkestBgr;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  .intro__download-button {
    width: 203px;
    padding: 21px 39px 21px 38px;
    color: $lightText;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 29px;
  }

  .intro__download-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .intro__text {
    width: 280px;
    padding: 0;
    margin: 0;
    color: $lightText;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 300px;
      font-size: 18px;
    }
  }
}
