.page-header {
  display: flex;
  flex-direction: column;
  background: $dark-text-bgr;

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    margin: 0 auto;
    width: 940px;
    background: transparent;
  }

  .page-header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 23px 20px;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      width: 30%;
      height: 110px;
      padding-left: 0;
    }
  }

  .page-header__logo {
    width: 74px;
    height: 23px;

    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      margin: 27px auto 43px 0;
    }
  }

  .page-header__nav-toggle {
    display: none;
    width: 23px;
    height: 23px;
    background-color: $dark-text-bgr;
    background-image: url("../img/close_menu_btn.svg");
    background-position: center;
    border: none;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
