.page-header {
  background: $darkTextBgr;

  ul {
    list-style: none;
  }

  a {
    color: $lightText;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
