.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__copyright-text {
    color: $darkTextBgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }

  .page-footer__social-list {
    list-style: none;
  }
}
