.page-header {
  display: flex;
  flex-direction: column;
  background: $darkTextBgr;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: baseline;
    background: none;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 23px 20px;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      width: 320px;
      padding-left: 0;
    }
  }

  .page-header__logo {
    width: 74px;
    height: 23px;

    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }
  }

  .page-header__nav-toggle {
    width: 23px;
    height: 23px;
    background-color: $darkTextBgr;
    background-image: url("../../img/close_menu_btn.svg");

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
