.pop-up {
  display: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 460px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }

  &--success {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, $secondary-bgr 44%, #ffffff 44%);

    @media (min-width: $tablet-width) {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background: linear-gradient(0deg, $secondary-bgr 37%, #ffffff 37%);
    }

    @media (min-width: $desktop-width) {
      background: linear-gradient(0deg, $secondary-bgr 40%, #ffffff 40%);
    }
  }

  &--failure {
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

    @media (min-width: $desktop-width) {
      background: linear-gradient(0deg, $secondary-bgr 45%, #ffffff 45%);
    }
  }

  .pop-up__title {
    width: 238px;
    padding-top: 40px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700px;
    line-height: 24px;
    text-align: center;
    color: #000000;

    @media (min-width: $tablet-width) {
      &--success {
        box-sizing: border-box;
        width: 396px;
        padding-left: 96px;
        padding-right: 96px;
        font-size: 30px;
        line-height: 40px;
      }

      &--failure {
        box-sizing: border-box;
        width: 330px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 30px;
        line-height: 40px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .pop-up__text {
    padding: 48px 20px 36px 20px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: $dark-text-bgr;
    text-align: center;

    @media (min-width: $tablet-width) {
      box-sizing: border-box;
      width: 378px;
      padding-left: 33px;
      padding-right: 33px;
      font-size: 18px;
    }

    &--failure {
      padding-bottom: 0;

      @media (min-width: $desktop-width) {
        padding-top: 20px;
        padding-bottom: 36px;
      }
    }
  }

  .pop-up__btn {
    width: 276px;
    margin: 52px 20px;

    @media (min-width: $tablet-width) {
      margin: 52px 92px 52px 92px;
    }

    @media (min-width: $desktop-width) {
      margin: 52px 252px 52px 252px;
    }
  }
}
