.price {
  background: $secondary-bgr;

  @media (min-width: $tablet-width) {
    padding: 52px 20px 70px;
  }

  .price__wrapper {
    @media (min-width: $desktop-width) {
      width: 940px;
      padding: 0;
      margin: 0 auto;
    }
  }

  .price__slider {
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transform: scale(1);
    width: 100%;
  }

  .price__toggles {
    margin-top: 45px;
    margin-bottom: 49px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
