.price {
  background: $secondary-bgr;

  @media (min-width: $tablet-width) {
    padding: 32px 20px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 20px 98px;
  }

  .price__wrapper {
    @media (min-width: $desktop-width) {
      width: 940px;
      padding-bottom: 100px;
      margin: 0 auto;
    }
  }

  .price__slider {
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transform: scale(1);
    width: 100%;
  }

  .price__slider::before,
  .price__slider::after {
    @media (max-width: 659px) {
      content: "";
      display: table;
      width: 300px;
      flex: 1;
      height: 100px;
    }
  }

  .price__toggles {
    padding-top: 40px;
    padding-bottom: 49px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
