.reviews {
  line-height: 30px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  color: $darkTextBgr;
  font-size: 14px;
  font-weight: 400;
}
