.reviews {
  position: relative;
  z-index: 2;
  margin-top: -43px;
  background-color: #ffffff;
  background-image: linear-gradient(-5deg, $secondary-bgr 7%, transparent 0);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(-5deg, $secondary-bgr 17%, transparent 0);
    padding-top: 58px;
    padding-bottom: 20px;

    @media (min-width: $desktop-width) {
      background-image: none;
    }
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 26px;
    padding-bottom: 58px;

    @media (min-width: $desktop-width) {
      width: 940px;
      margin: 0 auto;
      padding-top: 185px;
      padding-bottom: 0;
    }
  }

  .reviews__slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    line-height: 30px;
    text-align: center;

    @media (min-width: $desktop-width) {
      padding-bottom: 60px;
      margin-bottom: -16px;
    }
  }

  .reviews__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    scroll-snap-align: start;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    width: 100%;
    position: relative;
  }

  .reviews__quote {
    margin: 0;
    width: 100%;

    @media (min-width: $desktop-width) {
      width: 686px;
    }
  }

  .reviews__author-name {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    order: -1;

    @media (min-width: $tablet-width) {
      margin-top: 36px;
      margin-bottom: 0;
      font-size: 20px;
      order: 0;
    }
  }

  .reviews__author-info {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 0;
      margin-bottom: 35px;
      font-size: 14px;
      color: $dark-text-bgr;
    }
  }

  .reviews__text {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    color: $dark-text-bgr;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .reviews__toggles {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
