.site-navigation {
  @media (min-width: $desktop-width) {
    width: 70%;
  }

  .site-navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .site-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    color: $lightText;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);

    @media (min-width: $desktop-width) {
      height: 110px;
      font-weight: 400;
      line-height: 18px;
      text-transform: none;
      box-shadow: none;
    }
  }

  .site-navigation__link {
    color: $lightText;
    text-decoration: none;
  }
}
