.table-prices {
  width: 832px;
  line-height: 30px;
  text-transform: uppercase;
  border-color: $border;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  .table-prices__head-cell {
    padding: 14px 95px 20px;
    background-color: $dark-text-bgr;

    @media (min-width: $tablet-width) {
      padding: 14px 33px 10px;
    }

    @media (min-width: $desktop-width) {
      padding: 17px 67px 17px;
    }
  }

  .table-prices__head--empty {
    background-color: $secondary-bgr;
    border: none;
  }

  .table__hidden-cell {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      background-color: $secondary-bgr;
    }
  }

  .table-prices__plan {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    color: $light-text;
  }

  .table-prices__price {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 300;
    color: $light-text;
  }

  .table-prices__feature {
    padding: 14px 20px 16px;
    background-color: #ffffff;

    @media (min-width: $tablet-width) {
      padding: 12px 60px;
    }

    @media (min-width: $desktop-width) {
      padding: 19px 101px;
    }

    &--left {
      padding: 24px 20px 25px;
      font-size: 14px;
      background-color: #ffffff;
      text-transform: none;

      @media (min-width: $tablet-width) {
        padding: 12px 20px 12px;
      }

      @media (min-width: $desktop-width) {
        padding: 15px 20px 15px;
        font-size: 16px;
      }
    }

    &--no {
      @media (min-width: $desktop-width) {
        padding: 17px 103px 16px;
      }
    }
  }

  .table-prices__feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media (min-width: $tablet-width) {
      justify-content: center;
    }
  }

  .table-prices__feature-item {
    margin: 0;
    color: $dark-text-bgr;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .table-prices__feature-mark--yes {
    width: 31px;
    height: 21px;
    background-image: url("../../img/yes.svg");
  }

  .table-prices__feature-mark--no {
    width: 27px;
    height: 27px;
    background-image: url("../../img/no.svg");
  }
}
