.upload-photo {
  .upload-photo__text {
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .upload-photo__form {
    background-color: $secondary-bgr;
  }

  .upload-photo__tools {
    border: none;
  }

  .upload-photo__button {
    &_submit {
      padding: 21px 39px 21px 38px;
      color: $accent-text;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-decoration: none;
      border: 3px solid $accent-text;
      border-radius: 29px;
    }

    &_reset {
      padding: 21px 39px 21px 38px;
      color: $dark-text-bgr;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-decoration: none;
      border: 3px solid $dark-text-bgr;
      border-radius: 29px;
      opacity: 0.1;
    }
  }
}
