.upload-photo {
  @media (min-width: $desktop-width) {
    width: 940px;
    margin: 0 auto;
  }

  .upload-photo__photo {
    padding-top: 20px;

    @media (min-width: $tablet-width) {
      width: 300px;
      padding-top: 0;
      padding-right: 10px;
    }
  }

  .upload-photo__text {
    width: 280px;
    padding: 0;
    margin: 39px auto;
    color: $dark-text-bgr;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 422px;
      margin: 64px auto 70px;
      font-size: 18px;
    }
  }

  .upload-photo__text-p {
    margin: 0;
  }

  .upload-photo__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-bgr;

    @media (min-width: $tablet-width) {
      padding: 0 20px;
    }
  }

  .upload-photo__form-wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      width: 100%;
    }
  }

  .upload-photo__form-main {
    @media (min-width: $tablet-width) {
      width: 300px;
      padding-left: 10px;
    }
  }

  .upload-photo__tools {
    border: none;

    @media (min-width: $tablet-width) {
      width: 100%;
      padding: 0;
    }
  }

  .upload-photo__tools-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
    padding-top: 42px;
    list-style: none;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      padding-left: 25px;
    }
  }
  /*
  .upload-photo__controls-bar {
    height: 2px;
    background-color: $dark-text-bgr;

    @media (min-width: $tablet-width) {
      width: 206px;
    }
  }
*/
  .upload-photo__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .upload-photo__button {
    width: 280px;

    &_submit {
      padding: 12px 45px 12px;
      margin-bottom: 12px;
      color: $accent-text;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-decoration: none;
      border: 3px solid $accent-text;
      border-radius: 29px;
    }

    &_reset {
      padding: 12px 45px 12px;
      margin-bottom: 41px;
      color: $dark-text-bgr;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-decoration: none;
      border: 3px solid $dark-text-bgr;
      border-radius: 29px;
      opacity: 0.1;
    }
  }
}
