$lightText: #ffffff;
$darkTextBgr: #283645;
$secondaryHeading: #000000;
$accentText: #d22856;
$imgSubstrate: #000000;
$secongaryBgr: #f2f2f2;
$submitBtn: #2aab6d;
$yes: #3dc644;
$no: #f25b26;
$border: #e5e5e5;
$iphoneStroke: #252527;
