// Colors

$light-text: #ffffff;
$dark-text-bgr: #283645;
$darkest-bgr: #1d2631;
$secondary-heading: #000000;
$accent-text: #d22856;
$img-substrate: #000000;
$secondary-bgr: #f2f2f2;
$submit-btn: #2aab6d;
$submit-btn-hover: #1c9b5e;
$submit-btn-disabled: #e5e5e5;
$yes: #3dc644;
$no: #f25b26;
$border: #e5e5e5;
$iphone-stroke: #252527;

// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
