$primaryText: #ffffff;
$secondaryTextBgr: #283645;
$secondaryHeading: #000000;
$accentText: #D22856;
$imgSubstrate: #000000;
$secongaryBackground: #F2F2F2;
$yes: #3DC644;
$no: #F25B26;
$tableStroke: #E5E5E5;
$iphoneStroke: #252527;
