// Global

@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";

// Blocks

@import "blocks/page-header.scss";
@import "blocks/site-navigation.scss";
@import "blocks/intro.scss";
@import "blocks/advantages.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/contest-form.scss";
@import "blocks/contest-intro.scss";
@import "blocks/catalog-intro.scss";
@import "blocks/gallery-post.scss";
@import "blocks/upload-photo.scss";
@import "blocks/slider-toggles.scss";
@import "blocks/effect.scss";
@import "blocks/section-wrapper.scss";
@import "blocks/table-prices.scss";
@import "blocks/contest.scss";
@import "blocks/pop-up.scss";
@import "blocks/btn.scss";
@import "blocks/catalog.scss";
@import "blocks/gallery-wrapper.scss";
